@include font-face("FontAwesome", font-files("fontawesome/fontawesome-webfont.ttf", "fontawesome/fontawesome-webfont.woff", "fontawesome/fontawesome-webfont.svg"), "fontawesome/fontawesome-webfont.eot");
 
$font_system: Helvetica, Arial, sans-serif;
$font_awesome: "FontAwesome";


@mixin font-awesome($class) {

	$unicode: "" !default;

	@if $class == "fa-glass" {
		$unicode: "\f000";
	} @else if $class == "fa-music" {
		$unicode: "\f001";
	} @else if $class == "fa-search" {
		$unicode: "\f002";
	} @else if $class == "fa-envelope-o" {
		$unicode: "\f003";
	} @else if $class == "fa-heart" {
		$unicode: "\f004";
	} @else if $class == "fa-star" {
		$unicode: "\f005";
	} @else if $class == "fa-star-o" {
		$unicode: "\f006";
	} @else if $class == "fa-user" {
		$unicode: "\f007";
	} @else if $class == "fa-film" {
		$unicode: "\f008";
	} @else if $class == "fa-th-large" {
		$unicode: "\f009";
	} @else if $class == "fa-th" {
		$unicode: "\f00a";
	} @else if $class == "fa-th-list" {
		$unicode: "\f00b";
	} @else if $class == "fa-check" {
		$unicode: "\f00c";
	} @else if $class == "fa-times" {
		$unicode: "\f00d";
	} @else if $class == "fa-search-plus" {
		$unicode: "\f00e";
	} @else if $class == "fa-search-minus" {
		$unicode: "\f010";
	} @else if $class == "fa-power-off" {
		$unicode: "\f011";
	} @else if $class == "fa-signal" {
		$unicode: "\f012";
	} @else if $class == "fa-cog" {
		$unicode: "\f013";
	} @else if $class == "fa-trash-o" {
		$unicode: "\f014";
	} @else if $class == "fa-home" {
		$unicode: "\f015";
	} @else if $class == "fa-file-o" {
		$unicode: "\f016";
	} @else if $class == "fa-clock-o" {
		$unicode: "\f017";
	} @else if $class == "fa-road" {
		$unicode: "\f018";
	} @else if $class == "fa-download" {
		$unicode: "\f019";
	} @else if $class == "fa-arrow-circle-o-down" {
		$unicode: "\f01a";
	} @else if $class == "fa-arrow-circle-o-up" {
		$unicode: "\f01b";
	} @else if $class == "fa-inbox" {
		$unicode: "\f01c";
	} @else if $class == "fa-play-circle-o" {
		$unicode: "\f01d";
	} @else if $class == "fa-repeat" {
		$unicode: "\f01e";
	} @else if $class == "fa-refresh" {
		$unicode: "\f021";
	} @else if $class == "fa-list-alt" {
		$unicode: "\f022";
	} @else if $class == "fa-lock" {
		$unicode: "\f023";
	} @else if $class == "fa-flag" {
		$unicode: "\f024";
	} @else if $class == "fa-headphones" {
		$unicode: "\f025";
	} @else if $class == "fa-volume-off" {
		$unicode: "\f026";
	} @else if $class == "fa-volume-down" {
		$unicode: "\f027";
	} @else if $class == "fa-volume-up" {
		$unicode: "\f028";
	} @else if $class == "fa-qrcode" {
		$unicode: "\f029";
	} @else if $class == "fa-barcode" {
		$unicode: "\f02a";
	} @else if $class == "fa-tag" {
		$unicode: "\f02b";
	} @else if $class == "fa-tags" {
		$unicode: "\f02c";
	} @else if $class == "fa-book" {
		$unicode: "\f02d";
	} @else if $class == "fa-bookmark" {
		$unicode: "\f02e";
	} @else if $class == "fa-print" {
		$unicode: "\f02f";
	} @else if $class == "fa-camera" {
		$unicode: "\f030";
	} @else if $class == "fa-font" {
		$unicode: "\f031";
	} @else if $class == "fa-bold" {
		$unicode: "\f032";
	} @else if $class == "fa-italic" {
		$unicode: "\f033";
	} @else if $class == "fa-text-height" {
		$unicode: "\f034";
	} @else if $class == "fa-text-width" {
		$unicode: "\f035";
	} @else if $class == "fa-align-left" {
		$unicode: "\f036";
	} @else if $class == "fa-align-center" {
		$unicode: "\f037";
	} @else if $class == "fa-align-right" {
		$unicode: "\f038";
	} @else if $class == "fa-align-justify" {
		$unicode: "\f039";
	} @else if $class == "fa-list" {
		$unicode: "\f03a";
	} @else if $class == "fa-outdent" {
		$unicode: "\f03b";
	} @else if $class == "fa-indent" {
		$unicode: "\f03c";
	} @else if $class == "fa-video-camera" {
		$unicode: "\f03d";
	} @else if $class == "fa-picture-o" {
		$unicode: "\f03e";
	} @else if $class == "fa-pencil" {
		$unicode: "\f040";
	} @else if $class == "fa-map-marker" {
		$unicode: "\f041";
	} @else if $class == "fa-adjust" {
		$unicode: "\f042";
	} @else if $class == "fa-tint" {
		$unicode: "\f043";
	} @else if $class == "fa-pencil-square-o" {
		$unicode: "\f044";
	} @else if $class == "fa-share-square-o" {
		$unicode: "\f045";
	} @else if $class == "fa-check-square-o" {
		$unicode: "\f046";
	} @else if $class == "fa-arrows" {
		$unicode: "\f047";
	} @else if $class == "fa-step-backward" {
		$unicode: "\f048";
	} @else if $class == "fa-fast-backward" {
		$unicode: "\f049";
	} @else if $class == "fa-backward" {
		$unicode: "\f04a";
	} @else if $class == "fa-play" {
		$unicode: "\f04b";
	} @else if $class == "fa-pause" {
		$unicode: "\f04c";
	} @else if $class == "fa-stop" {
		$unicode: "\f04d";
	} @else if $class == "fa-forward" {
		$unicode: "\f04e";
	} @else if $class == "fa-fast-forward" {
		$unicode: "\f050";
	} @else if $class == "fa-step-forward" {
		$unicode: "\f051";
	} @else if $class == "fa-eject" {
		$unicode: "\f052";
	} @else if $class == "fa-chevron-left" {
		$unicode: "\f053";
	} @else if $class == "fa-chevron-right" {
		$unicode: "\f054";
	} @else if $class == "fa-plus-circle" {
		$unicode: "\f055";
	} @else if $class == "fa-minus-circle" {
		$unicode: "\f056";
	} @else if $class == "fa-times-circle" {
		$unicode: "\f057";
	} @else if $class == "fa-check-circle" {
		$unicode: "\f058";
	} @else if $class == "fa-question-circle" {
		$unicode: "\f059";
	} @else if $class == "fa-info-circle" {
		$unicode: "\f05a";
	} @else if $class == "fa-crosshairs" {
		$unicode: "\f05b";
	} @else if $class == "fa-times-circle-o" {
		$unicode: "\f05c";
	} @else if $class == "fa-check-circle-o" {
		$unicode: "\f05d";
	} @else if $class == "fa-ban" {
		$unicode: "\f05e";
	} @else if $class == "fa-arrow-left" {
		$unicode: "\f060";
	} @else if $class == "fa-arrow-right" {
		$unicode: "\f061";
	} @else if $class == "fa-arrow-up" {
		$unicode: "\f062";
	} @else if $class == "fa-arrow-down" {
		$unicode: "\f063";
	} @else if $class == "fa-share" {
		$unicode: "\f064";
	} @else if $class == "fa-expand" {
		$unicode: "\f065";
	} @else if $class == "fa-compress" {
		$unicode: "\f066";
	} @else if $class == "fa-plus" {
		$unicode: "\f067";
	} @else if $class == "fa-minus" {
		$unicode: "\f068";
	} @else if $class == "fa-asterisk" {
		$unicode: "\f069";
	} @else if $class == "fa-exclamation-circle" {
		$unicode: "\f06a";
	} @else if $class == "fa-gift" {
		$unicode: "\f06b";
	} @else if $class == "fa-leaf" {
		$unicode: "\f06c";
	} @else if $class == "fa-fire" {
		$unicode: "\f06d";
	} @else if $class == "fa-eye" {
		$unicode: "\f06e";
	} @else if $class == "fa-eye-slash" {
		$unicode: "\f070";
	} @else if $class == "fa-exclamation-triangle" {
		$unicode: "\f071";
	} @else if $class == "fa-plane" {
		$unicode: "\f072";
	} @else if $class == "fa-calendar" {
		$unicode: "\f073";
	} @else if $class == "fa-random" {
		$unicode: "\f074";
	} @else if $class == "fa-comment" {
		$unicode: "\f075";
	} @else if $class == "fa-magnet" {
		$unicode: "\f076";
	} @else if $class == "fa-chevron-up" {
		$unicode: "\f077";
	} @else if $class == "fa-chevron-down" {
		$unicode: "\f078";
	} @else if $class == "fa-retweet" {
		$unicode: "\f079";
	} @else if $class == "fa-shopping-cart" {
		$unicode: "\f07a";
	} @else if $class == "fa-folder" {
		$unicode: "\f07b";
	} @else if $class == "fa-folder-open" {
		$unicode: "\f07c";
	} @else if $class == "fa-arrows-v" {
		$unicode: "\f07d";
	} @else if $class == "fa-arrows-h" {
		$unicode: "\f07e";
	} @else if $class == "fa-bar-chart-o" {
		$unicode: "\f080";
	} @else if $class == "fa-twitter-square" {
		$unicode: "\f081";
	} @else if $class == "fa-facebook-square" {
		$unicode: "\f082";
	} @else if $class == "fa-camera-retro" {
		$unicode: "\f083";
	} @else if $class == "fa-key" {
		$unicode: "\f084";
	} @else if $class == "fa-cogs" {
		$unicode: "\f085";
	} @else if $class == "fa-comments" {
		$unicode: "\f086";
	} @else if $class == "fa-thumbs-o-up" {
		$unicode: "\f087";
	} @else if $class == "fa-thumbs-o-down" {
		$unicode: "\f088";
	} @else if $class == "fa-star-half" {
		$unicode: "\f089";
	} @else if $class == "fa-heart-o" {
		$unicode: "\f08a";
	} @else if $class == "fa-sign-out" {
		$unicode: "\f08b";
	} @else if $class == "fa-linkedin-square" {
		$unicode: "\f08c";
	} @else if $class == "fa-thumb-tack" {
		$unicode: "\f08d";
	} @else if $class == "fa-external-link" {
		$unicode: "\f08e";
	} @else if $class == "fa-sign-in" {
		$unicode: "\f090";
	} @else if $class == "fa-trophy" {
		$unicode: "\f091";
	} @else if $class == "fa-github-square" {
		$unicode: "\f092";
	} @else if $class == "fa-upload" {
		$unicode: "\f093";
	} @else if $class == "fa-lemon-o" {
		$unicode: "\f094";
	} @else if $class == "fa-phone" {
		$unicode: "\f095";
	} @else if $class == "fa-square-o" {
		$unicode: "\f096";
	} @else if $class == "fa-bookmark-o" {
		$unicode: "\f097";
	} @else if $class == "fa-phone-square" {
		$unicode: "\f098";
	} @else if $class == "fa-twitter" {
		$unicode: "\f099";
	} @else if $class == "fa-facebook" {
		$unicode: "\f09a";
	} @else if $class == "fa-github" {
		$unicode: "\f09b";
	} @else if $class == "fa-unlock" {
		$unicode: "\f09c";
	} @else if $class == "fa-credit-card" {
		$unicode: "\f09d";
	} @else if $class == "fa-rss" {
		$unicode: "\f09e";
	} @else if $class == "fa-hdd-o" {
		$unicode: "\f0a0";
	} @else if $class == "fa-bullhorn" {
		$unicode: "\f0a1";
	} @else if $class == "fa-bell" {
		$unicode: "\f0f3";
	} @else if $class == "fa-certificate" {
		$unicode: "\f0a3";
	} @else if $class == "fa-hand-o-right" {
		$unicode: "\f0a4";
	} @else if $class == "fa-hand-o-left" {
		$unicode: "\f0a5";
	} @else if $class == "fa-hand-o-up" {
		$unicode: "\f0a6";
	} @else if $class == "fa-hand-o-down" {
		$unicode: "\f0a7";
	} @else if $class == "fa-arrow-circle-left" {
		$unicode: "\f0a8";
	} @else if $class == "fa-arrow-circle-right" {
		$unicode: "\f0a9";
	} @else if $class == "fa-arrow-circle-up" {
		$unicode: "\f0aa";
	} @else if $class == "fa-arrow-circle-down" {
		$unicode: "\f0ab";
	} @else if $class == "fa-globe" {
		$unicode: "\f0ac";
	} @else if $class == "fa-wrench" {
		$unicode: "\f0ad";
	} @else if $class == "fa-tasks" {
		$unicode: "\f0ae";
	} @else if $class == "fa-filter" {
		$unicode: "\f0b0";
	} @else if $class == "fa-briefcase" {
		$unicode: "\f0b1";
	} @else if $class == "fa-arrows-alt" {
		$unicode: "\f0b2";
	} @else if $class == "fa-users" {
		$unicode: "\f0c0";
	} @else if $class == "fa-link" {
		$unicode: "\f0c1";
	} @else if $class == "fa-cloud" {
		$unicode: "\f0c2";
	} @else if $class == "fa-flask" {
		$unicode: "\f0c3";
	} @else if $class == "fa-scissors" {
		$unicode: "\f0c4";
	} @else if $class == "fa-files-o" {
		$unicode: "\f0c5";
	} @else if $class == "fa-paperclip" {
		$unicode: "\f0c6";
	} @else if $class == "fa-floppy-o" {
		$unicode: "\f0c7";
	} @else if $class == "fa-square" {
		$unicode: "\f0c8";
	} @else if $class == "fa-bars" {
		$unicode: "\f0c9";
	} @else if $class == "fa-list-ul" {
		$unicode: "\f0ca";
	} @else if $class == "fa-list-ol" {
		$unicode: "\f0cb";
	} @else if $class == "fa-strikethrough" {
		$unicode: "\f0cc";
	} @else if $class == "fa-underline" {
		$unicode: "\f0cd";
	} @else if $class == "fa-table" {
		$unicode: "\f0ce";
	} @else if $class == "fa-magic" {
		$unicode: "\f0d0";
	} @else if $class == "fa-truck" {
		$unicode: "\f0d1";
	} @else if $class == "fa-pinterest" {
		$unicode: "\f0d2";
	} @else if $class == "fa-pinterest-square" {
		$unicode: "\f0d3";
	} @else if $class == "fa-google-plus-square" {
		$unicode: "\f0d4";
	} @else if $class == "fa-google-plus" {
		$unicode: "\f0d5";
	} @else if $class == "fa-money" {
		$unicode: "\f0d6";
	} @else if $class == "fa-caret-down" {
		$unicode: "\f0d7";
	} @else if $class == "fa-caret-up" {
		$unicode: "\f0d8";
	} @else if $class == "fa-caret-left" {
		$unicode: "\f0d9";
	} @else if $class == "fa-caret-right" {
		$unicode: "\f0da";
	} @else if $class == "fa-columns" {
		$unicode: "\f0db";
	} @else if $class == "fa-sort" {
		$unicode: "\f0dc";
	} @else if $class == "fa-sort-asc" {
		$unicode: "\f0dd";
	} @else if $class == "fa-sort-desc" {
		$unicode: "\f0de";
	} @else if $class == "fa-envelope" {
		$unicode: "\f0e0";
	} @else if $class == "fa-linkedin" {
		$unicode: "\f0e1";
	} @else if $class == "fa-undo" {
		$unicode: "\f0e2";
	} @else if $class == "fa-gavel" {
		$unicode: "\f0e3";
	} @else if $class == "fa-tachometer" {
		$unicode: "\f0e4";
	} @else if $class == "fa-comment-o" {
		$unicode: "\f0e5";
	} @else if $class == "fa-comments-o" {
		$unicode: "\f0e6";
	} @else if $class == "fa-bolt" {
		$unicode: "\f0e7";
	} @else if $class == "fa-sitemap" {
		$unicode: "\f0e8";
	} @else if $class == "fa-umbrella" {
		$unicode: "\f0e9";
	} @else if $class == "fa-clipboard" {
		$unicode: "\f0ea";
	} @else if $class == "fa-lightbulb-o" {
		$unicode: "\f0eb";
	} @else if $class == "fa-exchange" {
		$unicode: "\f0ec";
	} @else if $class == "fa-cloud-download" {
		$unicode: "\f0ed";
	} @else if $class == "fa-cloud-upload" {
		$unicode: "\f0ee";
	} @else if $class == "fa-user-md" {
		$unicode: "\f0f0";
	} @else if $class == "fa-stethoscope" {
		$unicode: "\f0f1";
	} @else if $class == "fa-suitcase" {
		$unicode: "\f0f2";
	} @else if $class == "fa-bell-o" {
		$unicode: "\f0a2";
	} @else if $class == "fa-coffee" {
		$unicode: "\f0f4";
	} @else if $class == "fa-cutlery" {
		$unicode: "\f0f5";
	} @else if $class == "fa-file-text-o" {
		$unicode: "\f0f6";
	} @else if $class == "fa-building-o" {
		$unicode: "\f0f7";
	} @else if $class == "fa-hospital-o" {
		$unicode: "\f0f8";
	} @else if $class == "fa-ambulance" {
		$unicode: "\f0f9";
	} @else if $class == "fa-medkit" {
		$unicode: "\f0fa";
	} @else if $class == "fa-fighter-jet" {
		$unicode: "\f0fb";
	} @else if $class == "fa-beer" {
		$unicode: "\f0fc";
	} @else if $class == "fa-h-square" {
		$unicode: "\f0fd";
	} @else if $class == "fa-plus-square" {
		$unicode: "\f0fe";
	} @else if $class == "fa-angle-double-left" {
		$unicode: "\f100";
	} @else if $class == "fa-angle-double-right" {
		$unicode: "\f101";
	} @else if $class == "fa-angle-double-up" {
		$unicode: "\f102";
	} @else if $class == "fa-angle-double-down" {
		$unicode: "\f103";
	} @else if $class == "fa-angle-left" {
		$unicode: "\f104";
	} @else if $class == "fa-angle-right" {
		$unicode: "\f105";
	} @else if $class == "fa-angle-up" {
		$unicode: "\f106";
	} @else if $class == "fa-angle-down" {
		$unicode: "\f107";
	} @else if $class == "fa-desktop" {
		$unicode: "\f108";
	} @else if $class == "fa-laptop" {
		$unicode: "\f109";
	} @else if $class == "fa-tablet" {
		$unicode: "\f10a";
	} @else if $class == "fa-mobile" {
		$unicode: "\f10b";
	} @else if $class == "fa-circle-o" {
		$unicode: "\f10c";
	} @else if $class == "fa-quote-left" {
		$unicode: "\f10d";
	} @else if $class == "fa-quote-right" {
		$unicode: "\f10e";
	} @else if $class == "fa-spinner" {
		$unicode: "\f110";
	} @else if $class == "fa-circle" {
		$unicode: "\f111";
	} @else if $class == "fa-reply" {
		$unicode: "\f112";
	} @else if $class == "fa-github-alt" {
		$unicode: "\f113";
	} @else if $class == "fa-folder-o" {
		$unicode: "\f114";
	} @else if $class == "fa-folder-open-o" {
		$unicode: "\f115";
	} @else if $class == "fa-smile-o" {
		$unicode: "\f118";
	} @else if $class == "fa-frown-o" {
		$unicode: "\f119";
	} @else if $class == "fa-meh-o" {
		$unicode: "\f11a";
	} @else if $class == "fa-gamepad" {
		$unicode: "\f11b";
	} @else if $class == "fa-keyboard-o" {
		$unicode: "\f11c";
	} @else if $class == "fa-flag-o" {
		$unicode: "\f11d";
	} @else if $class == "fa-flag-checkered" {
		$unicode: "\f11e";
	} @else if $class == "fa-terminal" {
		$unicode: "\f120";
	} @else if $class == "fa-code" {
		$unicode: "\f121";
	} @else if $class == "fa-reply-all" {
		$unicode: "\f122";
	} @else if $class == "fa-mail-reply-all" {
		$unicode: "\f122";
	} @else if $class == "fa-star-half-o" {
		$unicode: "\f123";
	} @else if $class == "fa-location-arrow" {
		$unicode: "\f124";
	} @else if $class == "fa-crop" {
		$unicode: "\f125";
	} @else if $class == "fa-code-fork" {
		$unicode: "\f126";
	} @else if $class == "fa-chain-broken" {
		$unicode: "\f127";
	} @else if $class == "fa-question" {
		$unicode: "\f128";
	} @else if $class == "fa-info" {
		$unicode: "\f129";
	} @else if $class == "fa-exclamation" {
		$unicode: "\f12a";
	} @else if $class == "fa-superscript" {
		$unicode: "\f12b";
	} @else if $class == "fa-subscript" {
		$unicode: "\f12c";
	} @else if $class == "fa-eraser" {
		$unicode: "\f12d";
	} @else if $class == "fa-puzzle-piece" {
		$unicode: "\f12e";
	} @else if $class == "fa-microphone" {
		$unicode: "\f130";
	} @else if $class == "fa-microphone-slash" {
		$unicode: "\f131";
	} @else if $class == "fa-shield" {
		$unicode: "\f132";
	} @else if $class == "fa-calendar-o" {
		$unicode: "\f133";
	} @else if $class == "fa-fire-extinguisher" {
		$unicode: "\f134";
	} @else if $class == "fa-rocket" {
		$unicode: "\f135";
	} @else if $class == "fa-maxcdn" {
		$unicode: "\f136";
	} @else if $class == "fa-chevron-circle-left" {
		$unicode: "\f137";
	} @else if $class == "fa-chevron-circle-right" {
		$unicode: "\f138";
	} @else if $class == "fa-chevron-circle-up" {
		$unicode: "\f139";
	} @else if $class == "fa-chevron-circle-down" {
		$unicode: "\f13a";
	} @else if $class == "fa-html5" {
		$unicode: "\f13b";
	} @else if $class == "fa-css3" {
		$unicode: "\f13c";
	} @else if $class == "fa-anchor" {
		$unicode: "\f13d";
	} @else if $class == "fa-unlock-alt" {
		$unicode: "\f13e";
	} @else if $class == "fa-bullseye" {
		$unicode: "\f140";
	} @else if $class == "fa-ellipsis-h" {
		$unicode: "\f141";
	} @else if $class == "fa-ellipsis-v" {
		$unicode: "\f142";
	} @else if $class == "fa-rss-square" {
		$unicode: "\f143";
	} @else if $class == "fa-play-circle" {
		$unicode: "\f144";
	} @else if $class == "fa-ticket" {
		$unicode: "\f145";
	} @else if $class == "fa-minus-square" {
		$unicode: "\f146";
	} @else if $class == "fa-minus-square-o" {
		$unicode: "\f147";
	} @else if $class == "fa-level-up" {
		$unicode: "\f148";
	} @else if $class == "fa-level-down" {
		$unicode: "\f149";
	} @else if $class == "fa-check-square" {
		$unicode: "\f14a";
	} @else if $class == "fa-pencil-square" {
		$unicode: "\f14b";
	} @else if $class == "fa-external-link-square" {
		$unicode: "\f14c";
	} @else if $class == "fa-share-square" {
		$unicode: "\f14d";
	} @else if $class == "fa-compass" {
		$unicode: "\f14e";
	} @else if $class == "fa-caret-square-o-down" {
		$unicode: "\f150";
	} @else if $class == "fa-caret-square-o-up" {
		$unicode: "\f151";
	} @else if $class == "fa-caret-square-o-right" {
		$unicode: "\f152";
	} @else if $class == "fa-eur" {
		$unicode: "\f153";
	} @else if $class == "fa-gbp" {
		$unicode: "\f154";
	} @else if $class == "fa-usd" {
		$unicode: "\f155";
	} @else if $class == "fa-inr" {
		$unicode: "\f156";
	} @else if $class == "fa-jpy" {
		$unicode: "\f157";
	} @else if $class == "fa-rub" {
		$unicode: "\f158";
	} @else if $class == "fa-krw" {
		$unicode: "\f159";
	} @else if $class == "fa-btc" {
		$unicode: "\f15a";
	} @else if $class == "fa-file" {
		$unicode: "\f15b";
	} @else if $class == "fa-file-text" {
		$unicode: "\f15c";
	} @else if $class == "fa-sort-alpha-asc" {
		$unicode: "\f15d";
	} @else if $class == "fa-sort-alpha-desc" {
		$unicode: "\f15e";
	} @else if $class == "fa-sort-amount-asc" {
		$unicode: "\f160";
	} @else if $class == "fa-sort-amount-desc" {
		$unicode: "\f161";
	} @else if $class == "fa-sort-numeric-asc" {
		$unicode: "\f162";
	} @else if $class == "fa-sort-numeric-desc" {
		$unicode: "\f163";
	} @else if $class == "fa-thumbs-up" {
		$unicode: "\f164";
	} @else if $class == "fa-thumbs-down" {
		$unicode: "\f165";
	} @else if $class == "fa-youtube-square" {
		$unicode: "\f166";
	} @else if $class == "fa-youtube" {
		$unicode: "\f167";
	} @else if $class == "fa-xing" {
		$unicode: "\f168";
	} @else if $class == "fa-xing-square" {
		$unicode: "\f169";
	} @else if $class == "fa-youtube-play" {
		$unicode: "\f16a";
	} @else if $class == "fa-dropbox" {
		$unicode: "\f16b";
	} @else if $class == "fa-stack-overflow" {
		$unicode: "\f16c";
	} @else if $class == "fa-instagram" {
		$unicode: "\f16d";
	} @else if $class == "fa-flickr" {
		$unicode: "\f16e";
	} @else if $class == "fa-adn" {
		$unicode: "\f170";
	} @else if $class == "fa-bitbucket" {
		$unicode: "\f171";
	} @else if $class == "fa-bitbucket-square" {
		$unicode: "\f172";
	} @else if $class == "fa-tumblr" {
		$unicode: "\f173";
	} @else if $class == "fa-tumblr-square" {
		$unicode: "\f174";
	} @else if $class == "fa-long-arrow-down" {
		$unicode: "\f175";
	} @else if $class == "fa-long-arrow-up" {
		$unicode: "\f176";
	} @else if $class == "fa-long-arrow-left" {
		$unicode: "\f177";
	} @else if $class == "fa-long-arrow-right" {
		$unicode: "\f178";
	} @else if $class == "fa-apple" {
		$unicode: "\f179";
	} @else if $class == "fa-windows" {
		$unicode: "\f17a";
	} @else if $class == "fa-android" {
		$unicode: "\f17b";
	} @else if $class == "fa-linux" {
		$unicode: "\f17c";
	} @else if $class == "fa-dribbble" {
		$unicode: "\f17d";
	} @else if $class == "fa-skype" {
		$unicode: "\f17e";
	} @else if $class == "fa-foursquare" {
		$unicode: "\f180";
	} @else if $class == "fa-trello" {
		$unicode: "\f181";
	} @else if $class == "fa-female" {
		$unicode: "\f182";
	} @else if $class == "fa-male" {
		$unicode: "\f183";
	} @else if $class == "fa-gittip" {
		$unicode: "\f184";
	} @else if $class == "fa-sun-o" {
		$unicode: "\f185";
	} @else if $class == "fa-moon-o" {
		$unicode: "\f186";
	} @else if $class == "fa-archive" {
		$unicode: "\f187";
	} @else if $class == "fa-bug" {
		$unicode: "\f188";
	} @else if $class == "fa-vk" {
		$unicode: "\f189";
	} @else if $class == "fa-weibo" {
		$unicode: "\f18a";
	} @else if $class == "fa-renren" {
		$unicode: "\f18b";
	} @else if $class == "fa-pagelines" {
		$unicode: "\f18c";
	} @else if $class == "fa-stack-exchange" {
		$unicode: "\f18d";
	} @else if $class == "fa-arrow-circle-o-right" {
		$unicode: "\f18e";
	} @else if $class == "fa-arrow-circle-o-left" {
		$unicode: "\f190";
	} @else if $class == "fa-caret-square-o-left" {
		$unicode: "\f191";
	} @else if $class == "fa-dot-circle-o" {
		$unicode: "\f192";
	} @else if $class == "fa-wheelchair" {
		$unicode: "\f193";
	} @else if $class == "fa-vimeo-square" {
		$unicode: "\f194";
	} @else if $class == "fa-try" {
		$unicode: "\f195";
	} @else if $class == "fa-plus-square-o" {
		$unicode: "\f196";
	}

	&:after{
		content: $unicode;
		font-family: $font_awesome;
		-webkit-font-smoothing: antialiased;
	}
}