/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// --- imports ---
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/user-interface";
@import "compass/css3/text-shadow";
@import "compass/css3/transition";
@import "retina";
@import "fonts";
@import "icons";

// --- Global vars ---
$min_width: 768px;
$min_height: 640px;

html, body{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: $font_system;
  
  &.touch{
    *{
      outline: none;
      outline-style: none;
      -webkit-touch-callout: none;
      -webkit-tap-highlight-color: transparent;
      @include user-select('none');
    }
  }
}

body{
  min-width: $min-width;
  min-height: $min-height;
}

a{
  text-decoration: none;
}

input{
  -webkit-appearance: none;
}

.absoluteTopLeft{
  position: absolute;
  top: 0;
  left: 0;
}

.button{
  @include user-select('none');
  cursor: pointer;
  text-align: center;
}